.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
h1{
  color: white;
  font-family: arial;
  text-align: center;
  font-size: 70px;
  margin-top: -30px;
}
.downloadButton{
  width: 200px;
  height: 70px;
  border-radius: 70px;
  margin-top: 50px;
  font-size: 20px;
  color: black;
  font-family: arial;
  background-color: white;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  font-weight: bold;
  border-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.downloadButton:hover{
  background-color: #008ff8;
  color: white;

}
.button{
  text-align: center;
}
.logo{
  width: 250px;
  margin-top: -50px;
}
p{
  color: white;
  font-family: arial;
  text-align: center;
  font-weight: bold;
}
.recivebut{
  width: 170px;
  height: 50px;
  border-radius: 70px;
  margin-bottom:2px;
  font-size: 12px;
  color: black;
  font-family: arial;
  background-color: white;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  font-weight: bold;
  border-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
}
.reciveButton{
  position: fixed;
  bottom: 20;
}
.recivebut:hover{
  background-color: #008ff8;
  color: white;
}
.recivebut:focus, .downloadButton:focus{
  outline: none;
}
